# Go build artifacts
build/
canhazgpu
*.exe
*.exe~
*.dll
*.so
*.dylib

# General development
*.log

# mkdocs documentation
/site

# Editor and IDE files
.vscode/
.idea/

# Temporary and cache files
__pycache__/
.DS_Store
*.tmp
*.temp

# Goreleaser
dist/
